.txt-1{
    color:brown;
    font-weight: bold;
}
.txt-2{
    color:rgb(137, 128, 128);
    font-weight: bold;
}
.btn-bd-primary {
    --bs-btn-color:white;
    --bs-btn-bg:rgb(147, 39, 39);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgba(147, 39, 39, 0.451);
  }