
<div class="bg-body-secondary p-4 py-md-5">
 <div class="container bg-white border border-dark-subtle rounded-4 shadow-lg text-center p-5 my-5">
  
    <h2 class="h-6 txt-1">ERROR</h2>
    <h1>
      <span class="display-1 txt-1">4</span>
      <span class="display-1 txt-2">0</span>
      <span class="display-1 txt-1">4</span>
    </h1>
    <h1>
      <span class="display-1 txt-2">PAGE</span>
      <span class="display-1 txt-1">NOT</span>
      <span class="display-1 txt-2">FOUND</span>
    </h1>
    <hr>
    <p>Lo setimos, la pagina que estas buscando no esta disponible. Te recomendamos regresar a la pagina principal.</p>
    <a routerLink="/home" class="btn btn-lg btn-bd-primary my-3">Ir al Inicio</a>
  </div>
</div>