<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-0 mb-0">
    <div class="col-md-3 mb-2 mb-md-0">
      <div class="logo">
        <img src="\Imagenes\logos\Logo3.png" alt="logo" />
      </div>
    </div>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="activeLinkHome" class="nav-link bg-brown">HOME</a></li>
      <li class="nav-item"><a routerLink="/productos" routerLinkActive="activeLink" class="nav-link txt-brown">PRODUCTOS</a></li>
      <li class="nav-item"><a routerLink="/impresion3d" routerLinkActive="activeLink" class="nav-link txt-brown">IMPRESION 3D</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="activeLink" class="nav-link txt-brown">QUIENES SOMOS</a></li>
      <li class="nav-item"><a routerLink="/contact" routerLinkActive="activeLink" class="nav-link txt-brown">CONTACTO</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" routerLink="/login" class="btn btn-bd-primary me-2">Login</button>
      <button type="button" routerLink="/registro" class="btn btn-bd-primary2">Sign-up</button>
    </div>
  </header>
</div>
