.logo{
    display: flex;
    justify-content:start;
    align-items: center;
}
.logo img{
    height: 150px;
    width: auto;
}
.bg-brown{
    border: 2px solid rgb(167,39,26); 
    color:rgb(167,39,26);
}
.txt-brown{
    color:rgb(167,39,26);
}
.activeLink{
    color: white;
    background-color: rgb(147, 39, 39);
}
.activeLinkHome{
    background-color: rgb(147, 39, 39);
    color: white;
}

.btn-bd-primary {
    --bs-btn-color:rgb(147, 39, 39);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgb(147, 39, 39);
    --bs-btn-active-color: rgb(187, 190, 14);
    --bs-btn-active-bg: rgb(191, 137, 21);
    --bs-btn-active-border-color: black;
  }

  
.btn-bd-primary2 {
    --bs-btn-color:rgb(147, 39, 39);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgb(147, 39, 39);
    --bs-btn-active-color: rgb(187, 190, 14);
    --bs-btn-active-bg: rgb(191, 137, 21);
    --bs-btn-active-border-color: black;
  }
