<div class="container px-4 py-5" id="custom-cards">
    <h1 class="pb-2 fw-bold border-bottom">Descubre las Hordas</h1>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    @for (cards of card.cards; track $index){
   
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{cards.imagen}}); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{cards.precio}}</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src={{cards.miniImagen}} alt="Bootstrap" width="40" height="40" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center">
                <small>{{cards.nombre}}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
  }
    </div>
  </div>
