.zoomable {
  transition: transform 0.3s ease;
}

.zoomable:hover {
  transform: scale(1.4);
  cursor: zoom-in;
}

.btn-bd-color {
    --bs-btn-color:white;
    --bs-btn-bg:rgb(147, 39, 39);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgba(147, 39, 39, 0.451);
  }
  .text-color{
    color: rgb(147, 39, 39);
  }
  .text-bg{
    color: rgb(147, 39, 39);
    background-color: #f6f6f6;
  }
