<body>
    <div class="body2">
      <div class="titulo">
        <h1>Historia</h1>
        <h2>Una forma diferente de fabricar para nuestros clientes</h2>
      </div>
      <div class="body-center1">
        <img src="/img/sobre nosotros1.png" alt="">
        <div class="texto1">
          <h3>Realizando proyectos desde el año 2000</h3>
          <p>3D Create es una empresa fundada en 2020 con la misión de llevar la 
            imaginación al siguiente nivel a través de la impresión 3D en resina. Especializada en la
             creación de miniaturas detalladas para juegos de rol como Dragones y Mazmorras, 
            ofrecemos figuras de alta calidad que dan vida a héroes, monstruos y escenarios épicos. 
            Nuestro equipo combina tecnología de vanguardia con una pasión por la fantasía y los juegos de mesa, 
            garantizando modelos con un nivel de detalle excepcional. En 3D Create, 
            transformamos ideas en realidades tangibles para que cada aventura sea aún más inmersiva y emocionante.</p>  
        </div>
        </div>
      <div class="class body-center2">
        <div class="texto2">
          <h3>La impresion en Resina</h3>
          <p>La impresión 3D en resina (SLA) usa resina líquida que se endurece con luz ultravioleta
             para crear piezas con superficies súper lisas y detalles precisos. 
             Es perfecta para objetos que necesitan un acabado estético impecable.
             Crea figuras de resina y maquetas con un nivel de detalle excepcional. 
             Prueba y ajusta modelos que replican fielmente el producto final. 
             Ventajas de la impresión 3D en resina. Alta resolución y detalles finos. 
             Captura cada detalle con precisión milimétrica. 
             Superficies lisas y acabados profesionales. 
             Piezas con superficies lisas y acabados impecables.</p>
          </div>
            <img src="/img/sobre nosotros2.png" alt="">
      </div>
      <hr>
    </div>
  </body>

