
<body>
    <h5>Productos</h5>
  <div class="productos_fila1">
    <div class="producto1">
      <img src="/img/productos/1/720X720-1.jpg" alt="">
      <a routerLink ="/p1"><h5>Xentari</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
    <div class="producto2">
      <img src="/img/productos/2/720X720-e1-1.jpg" alt="">
      <a href="/pag/pageProducto2.html"><h5>GrinCorp</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
    <div class="producto3">
      <img src="/img/productos/3/720X720-720x720-6.jpg" alt="">
      <a href="/pag/pageProducto3.html"><h5>RoyalGuard</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
    <div class="producto4">
      <img src="/img/productos/4/720X720-c1.jpg" alt="">
      <a href="/pag/pageProducto4.html"><h5>Vaskar</h5></a>
      <h6>5 piezas</h6>4
      <p>30€</p>
    </div>
    <div class="producto5">
      <img src="/img/productos/5/720X720-1.jpg" alt="">
      <a href="/pag/pageProducto5.html"><h5>Orkaz</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
  </div>
  <div class="productos_fila1">
    <div class="producto1">
      <img src="/img/productos/1/720X720-1.jpg" alt="">
      <a href="/pag/pageProducto1.html"><h5>Xentari</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
    <div class="producto2">
      <img src="/img/productos/2/720X720-e1-1.jpg" alt="">
      <a href="/pag/pageProducto2.html"><h5>GrinCorp</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
    <div class="producto3">
      <img src="/img/productos/3/720X720-720x720-6.jpg" alt="">
      <a href="/pag/pageProducto3.html"><h5>RoyalGuard</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
    <div class="producto4">
      <img src="/img/productos/4/720X720-c1.jpg" alt="">
      <a href="/pag/pageProducto4.html"><h5>Vaskar</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
    <div class="producto5">
      <img src="/img/productos/5/720X720-1.jpg" alt="">
      <a href="/pag/pageProducto5.html"><h5>Orkaz</h5></a>
      <h6>5 piezas</h6>
      <p>30€</p>
    </div>
  </div>
</body>