<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="/Logo3.png" alt="logo" height="70px"/>
      </a>
      <span class="mb-3 mb-md-0 text custom-color">© 2024 3D Create, Inc </span>
    </div>

    <ul class="nav col-md-5 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><img src="\redessociales\Twiter.png" height="45px" class="d-block w-100" alt="..."></li>
      <li class="ms-3"><img src="\redessociales\Facebook.png" height="45px" class="d-block w-100" alt="..."></li>
      <li class="ms-3"><img src="\redessociales\Youtube.png" height="45px" class="d-block w-100" alt="..."></li>
      <li class="ms-3"><img src="\redessociales\Instagram.png" height="45px" class="d-block w-100" alt="..."></li>
    </ul>
  </footer>