.logo{
    display: flex;
    justify-content:start;
    align-items: center;
}
.logo img{
    height: 150px;
    width: auto;
}
.color{
color: brown;
}
.active{
    color: black;
    background-color: brown;
}
.btn-outline-primary-primary{
    color: black;
}