<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-0 mb-0">
    <div class="col-md-3 mb-2 mb-md-0">
      <div class="logo">
        <img src="logos/Logo3.png" alt="logo" />
      </div>
    </div>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" class="nav-link active" aria-current="page">HOME</a></li>
      <li class="nav-item"><a routerLink="/product" class="nav-link color">PRODUCTOS</a></li>
      <li class="nav-item"><a routerLink="/impresion3d" class="nav-link color">IMPRESION 3D</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link color">QUIENES SOMOS</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link color">CONTACTO</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" routerLink="/login" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" routerLink="/registro" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>