.logo{
    display: flex;
    justify-content:start;
    align-items: center;
}
.logo img{
    height: 150px;
    width: auto;
}
.bg-brown{
    border: 2px solid rgb(167,39,26); 
    color:rgb(167,39,26);
}
.txt-brown{
    color:rgb(167,39,26);
}
.activeLink{
    color: white;
    background-color: rgb(147, 39, 39);
}
.activeLinkHome{
    background-color: rgb(147, 39, 39);
    color: white;
}

