  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">La impresion en Resina <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">La impresión 3D en resina (SLA) usa resina líquida que se endurece con luz ultravioleta
          para crear piezas con superficies súper lisas y detalles precisos. 
          Es perfecta para objetos que necesitan un acabado estético impecable.
          Crea figuras de resina y maquetas con un nivel de detalle excepcional. 
          Prueba y ajusta modelos que replican fielmente el producto final. 
          Ventajas de la impresión 3D en resina. Alta resolución y detalles finos. 
          Captura cada detalle con precisión milimétrica. 
          Superficies lisas y acabados profesionales. 
          Piezas con superficies lisas y acabados impecables.</p>
      </div>
      <div class="col-md-5">
        <img src="\Imagenes/about/sobre nosotros1.png" width="500" height="500" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Realizando proyectos desde el año 2000 <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">3D Create es una empresa fundada en 2020 con la misión de llevar la 
          imaginación al siguiente nivel a través de la impresión 3D en resina. Especializada en la
           creación de miniaturas detalladas para juegos de rol como Dragones y Mazmorras, 
          ofrecemos figuras de alta calidad que dan vida a héroes, monstruos y escenarios épicos. 
          Nuestro equipo combina tecnología de vanguardia con una pasión por la fantasía y los juegos de mesa, 
          garantizando modelos con un nivel de detalle excepcional. En 3D Create, 
          transformamos ideas en realidades tangibles para que cada aventura sea aún más inmersiva y emocionante.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="\Imagenes/about/sobre nosotros2.png" width="500" height="500" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="\Imagenes/about/sobre nosotros3.png" width="500" height="500"/>
      </div>
    </div>