<section>
    <div class="container-max-width bgcolor">
        <div class="container text-center py-5">
            <div class="row">
                <div class="col">
                    <img src= {{producto.image1}} height="650px" width="600px" class="rounded-3" alt="" />
                    <div class="iamgenes pequeñas">
                        <img src={{producto.image2}} height="190px" width="190px" class="my-3" alt="" />
                        <img src={{producto.image3}} height="190px" width="190px" class="mx-3" alt="" />
                        <img src={{producto.image4}} height="190px" width="190px" class="my-3" alt="" />
                    </div>
                </div>
                <div class="col order-1 text-start">
                    <h1>{{producto.titulo}}</h1>
                    <p>{{producto.texto}}</p>
                    <h1>{{producto.precio}}</h1>
                    <div class="conenedorSeleccion">
                        <p>Black</p>
                        <p>Selecionar</p>
                    </div>
                    <div class="boton">
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>