<section>
    <div class="contenedor">
        <div class="columnaImagenes">
            <h1>Nombre Producto</h1>
            <img src="/img/productos/1/720X720-1.jpg" alt="">
            <div class="contenedor_imagPequeñas">
                <img src="/img/productos/1/720X720-1.jpg" alt="">
                <img src="/img/productos/1/720X720-1.jpg" alt="">
                <img src="/img/productos/1/720X720-1.jpg" alt="">
            </div>
        </div>
        <div class="columnaTexto">
            <p>Esta increíble miniatura de resina, impresa en alta calidad, representa a un Sacerdote Tecnosacral, un
                líder místico de los ejércitos del futuro. Fabricada con precisión mediante impresión 3D en resina, esta
                pieza captura cada detalle con máxima fidelidad, desde su intrincada armadura hasta los símbolos
                sagrados que porta.</p>
            <p>
                El Sacerdote Tecnosacral es un personaje venerado en las legiones del Tecnoimperio, encargado de
                canalizar la energía ancestral de las máquinas divinas. Armado con un báculo ritual y una pistola de
                plasma de última tecnología, este enigmático líder guía a sus seguidores en batalla, invocando
                bendiciones mecánicas y reactivando antiguas reliquias de guerra. Su tercer brazo biomecánico es símbolo
                de su devoción, reflejando su transformación en un ser más allá de lo humano.
            </p>
            <p>
                Ideal para juegos de estrategia, wargames o coleccionistas, esta miniatura es perfecta para pintar y
                personalizar. La resina utilizada garantiza detalles nítidos y resistencia, asegurando un acabado
                profesional en cualquier ejército de ciencia ficción o fantasía oscura.

                Adquiérela ahora y lleva a tu mesa de juego o colección una pieza única que representa la fusión entre
                tecnología y misticismo. ¡Haz que el Sacerdote Tecnosacral lidere tu ejército hacia la victoria!</p>
            <h1>30 €</h1>
            <div class="conenedorSeleccion">
                <p>Black</p>
                <p>Selecionar</p>
            </div>
            <div class="boton">
                <button>Añadir al carrito</button>
            </div>
        </div>
    </div>
</section>