<section class="mb-lg-10 mt-lg-14 my-8">
    <div class="container">
        <div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 281px;">
            <div><a class="text-decoration-none text-inherit card-link" href="shop/shop-grid">
                    <div class="card-product mb-lg-4 card">
                        <div class="text-center py-8 card-body"><img src="/1.jpg" alt="" class="mb-3 img-fluid">
                            <div class="text-truncate">Dairy, Bread &amp; Eggs</div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 281px;">
            <div><a class="text-decoration-none text-inherit card-link" href="shop/shop-grid">
                    <div class="card-product mb-lg-4 card">
                        <div class="text-center py-8 card-body"><img src="/1.jpg" alt="" class="mb-3 img-fluid">
                            <div class="text-truncate">Snack &amp; Munchies</div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 281px;">
            <div><a class="text-decoration-none text-inherit card-link" href="shop/shop-grid">
                    <div class="card-product mb-lg-4 card">
                        <div class="text-center py-8 card-body"><img src="/1.jpg" alt="" class="mb-3 img-fluid">
                            <div class="text-truncate">Backery &amp; Biscuites</div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 281px;">
            <div><a class="text-decoration-none text-inherit card-link" href="shop/shop-grid">
                    <div class="card-product mb-lg-4 card">
                        <div class="text-center py-8 card-body"><img src="/1.jpg" alt="" class="mb-3 img-fluid">
                            <div class="text-truncate">Instant Food</div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div data-index="4" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false"
            style="outline: none; width: 281px;">
            <div><a class="text-decoration-none text-inherit card-link" href="shop/shop-grid">
                    <div class="card-product mb-lg-4 card">
                        <div class="text-center py-8 card-body"><img src="/1.jpg" alt="" class="mb-3 img-fluid">
                            <div class="text-truncate">Tea, Coffee &amp; Drinks</div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div data-index="5" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
            style="outline: none; width: 281px;">
            <div><a class="text-decoration-none text-inherit card-link" href="shop/shop-grid">
                    <div class="card-product mb-lg-4 card">
                        <div class="text-center py-8 card-body"><img src="/1.jpg" alt="" class="mb-3 img-fluid">
                            <div class="text-truncate">Atta, Rice &amp; Dal</div>
                        </div>
                    </div>
                </a></div>
        </div>
        <div data-index="6" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
            style="outline: none; width: 281px;">
            <div><a class="text-decoration-none text-inherit card-link" href="shop/shop-grid">
                    <div class="card-product mb-lg-4 card">
                        <div class="text-center py-8 card-body"><img src="/1.jpg" alt="" class="mb-3 img-fluid">
                            <div class="text-truncate">Baby Care</div>
                        </div>
                    </div>
                </a></div>
        </div>
    </div>
</section>