<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">¡Únete a nuestra comunidad de impresión 3D! 🖨️✨</h1>
      <p class="col-lg-10 fs-4">
        Descubre las últimas tendencias, consejos, materiales y novedades del mundo de la impresión 3D. Aprende de
        expertos, accede a tutoriales exclusivos y mantente al día con la mejor información.
        📩 Suscríbete ahora y lleva tu pasión por la impresión 3D al siguiente nivel. ¡Es gratis!</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-bd-primary" type="submit">¡Únete!</button>
        <hr class="my-4">
        <small class="text-body-secondary">Al pulsar en ¡Únete!, estas aceptado los terminos de uso.</small>
      </form>
    </div>
  </div>
</div>